
@{
    ViewBag.Title = "Files Upload";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container mt-md-5 mt-sm-0">

    <h2 class="display-4 mb-4">Upload Photos</h2>

    <div class="row ml-2">
        
            @using (Html.BeginForm("Index", "FilesUpload", FormMethod.Post,
           new { enctype = "multipart/form-data" }))
            {
                <p class="mt-3">Please select photos to upload</p>

                <div class="form-group">
                    @Html.TextBox("file", "", new { type = "file", @class = "form-control-file" })
                </div>
                <button type="submit" class="btn btn-primary mb-4">Save</button>
                <p class="mb-3 text-success @(!string.IsNullOrEmpty(ViewBag.Msg) ? "show" : "hide")">
                    @ViewBag.Msg
                </p>

                @Html.ActionLink("Approve Photos", "MoveFile")

            }
    </div>
</div>


