@{
    ViewBag.Title = "Confirm Email";
}

<div class="container mt-md-5 mt-sm-0 my-5" style="height: calc(100vh - 347px)">
    <div class="row mb-4 my-5">
        <h3 class="display-4">ViewBag.Title</h3>
    </div>
    <div class="row">
        <div>
            Thank you for confirming your email <br />
            Please @Html.ActionLink("Click here to Log in", "Login", 
                  "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>
</div>
