@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-md-5 mt-sm-0 my-5" style="height: calc(100vh - 347px)">
    <div class="row mb-4 my-5">
        <h3 class="display-4">Forgot password confirmation</h3>
    </div>
    <div class="row">
        <div>
            We have emailed you a link. <br/>
            Please check your email to reset your password.
        </div>
    </div>
</div>

	
