@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-md-5 mt-sm-0 my-5">
    <div class="row mb-4">
        <h3 class="display-4">Reset password confirmation</h3>
    </div>
    <div class="row my-5">
        <div>
            Your password has been reseted. <br />
            Please @Html.ActionLink("click here to log in", "Login", "Account", 
                  routeValues: null, htmlAttributes: new { id = "loginLink" })
        </div>
    </div>
</div>

