USE [master]
GO
/****** Object:  Database [HorizonRE]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE DATABASE [HorizonRE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HorizonRE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HorizonRE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HorizonRE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\HorizonRE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HorizonRE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HorizonRE]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[ListingId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Appointments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CityAreas]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CityAreas](
	[AreaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CityAreas] PRIMARY KEY CLUSTERED 
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](25) NOT NULL,
	[MiddleName] [nvarchar](13) NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[StreetAddress] [nvarchar](50) NOT NULL,
	[City] [nvarchar](30) NOT NULL,
	[Province] [nvarchar](12) NOT NULL,
	[EmailAddress] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Countries] PRIMARY KEY CLUSTERED 
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[MiddleName] [nvarchar](20) NULL,
	[StreetAddress] [nvarchar](100) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](6) NOT NULL,
	[Phone] [nvarchar](14) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[Password] [nvarchar](max) NULL,
	[CustomerProvinceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[MiddleName] [nvarchar](20) NULL,
	[SIN] [nvarchar](11) NOT NULL,
	[StreetAddress] [nvarchar](100) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[PostalCode] [nvarchar](6) NOT NULL,
	[HomePhone] [nvarchar](14) NOT NULL,
	[CellPhone] [nvarchar](14) NOT NULL,
	[OfficePhone] [nvarchar](14) NOT NULL,
	[OfficeEmail] [nvarchar](50) NOT NULL,
	[DOB] [datetime] NOT NULL,
	[AddedBy] [int] NOT NULL,
	[HireDate] [datetime] NOT NULL,
	[Password] [nvarchar](max) NULL,
	[EmployeeProvinceId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Features]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Features] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageFiles]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFiles](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](500) NULL,
	[ImageDescription] [nvarchar](150) NOT NULL,
	[Path] [nvarchar](max) NULL,
	[AltText] [nvarchar](max) NULL,
	[UploadDate] [datetime] NOT NULL,
	[Approved] [bit] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[ListingId] [int] NULL,
 CONSTRAINT [PK_dbo.ImageFiles] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingFeature]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingFeature](
	[ListingId] [int] NOT NULL,
	[FeatureId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ListingFeature] PRIMARY KEY CLUSTERED 
(
	[ListingId] ASC,
	[FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listings]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listings](
	[ListingId] [int] IDENTITY(1,1) NOT NULL,
	[StreetAddress] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[Province] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[PostalCode] [nvarchar](max) NOT NULL,
	[Area] [nvarchar](max) NOT NULL,
	[Bedrooms] [int] NOT NULL,
	[Bathrooms] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ContractSigned] [bit] NOT NULL,
	[ListingStartDate] [datetime] NULL,
	[ListingEndDate] [datetime] NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[RenewNotificationSent] [bit] NOT NULL,
	[RenewDenialReason] [nvarchar](max) NULL,
	[CustomerId] [int] NOT NULL,
	[EmployeeId] [int] NULL,
	[AreaId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Listings] PRIMARY KEY CLUSTERED 
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProvinceCustomers]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvinceCustomers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProvinceCustomers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProvinceEmployees]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProvinceEmployees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceId] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ProvinceEmployees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 2019-12-03 8:25:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[ProvinceId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([Id], [StartDate], [EndDate], [Comment], [ListingId], [CustomerId], [EmployeeId]) VALUES (1, CAST(N'2019-12-03T10:45:00.000' AS DateTime), CAST(N'2019-12-03T12:15:00.000' AS DateTime), N'Test', 2, 2, 4)
INSERT [dbo].[Appointments] ([Id], [StartDate], [EndDate], [Comment], [ListingId], [CustomerId], [EmployeeId]) VALUES (2, CAST(N'2019-12-05T09:45:00.000' AS DateTime), CAST(N'2019-12-05T11:15:00.000' AS DateTime), N'bring more info data', 9, 2, 5)
INSERT [dbo].[Appointments] ([Id], [StartDate], [EndDate], [Comment], [ListingId], [CustomerId], [EmployeeId]) VALUES (3, CAST(N'2019-12-06T12:45:00.000' AS DateTime), CAST(N'2019-12-06T15:15:00.000' AS DateTime), NULL, 6, 2, 4)
SET IDENTITY_INSERT [dbo].[Appointments] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'Admin', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'Agent', N'Agent')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'Broker', N'Broker')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'06a23b68-0ed3-46b3-af35-3a5f1eed7676', N'Agent')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2a8e4841-8a50-4384-98c4-a74a16740710', N'Agent')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'81073bb4-9f58-48b5-8aa7-e7f04332ba8d', N'Agent')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'06a23b68-0ed3-46b3-af35-3a5f1eed7676', N'simpson.d@horizon.ca', 0, N'AJstnvLvdKG8LRydf+FAmsktnosgN7gPibyVLcD3FSDn0s/pkuk6biCALrizdDh9gQ==', N'19abab1c-a78a-4499-a896-6ba0c50ed410', NULL, 0, 0, NULL, 1, 0, N'simpson.d@horizon.ca')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'26c91f80-c96f-40c9-aac3-0403de4c52db', N'sanchez@test.com', 0, N'AJFHRRCZesC42UmtsigOYMjOCbcNacsjczwI13iee3PEYt4/6dUHZA2OhdXAbO8l+g==', N'960d7c2f-f8af-4921-ad6d-8f202e693622', NULL, 0, 0, NULL, 1, 0, N'sanchez@test.com')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2a8e4841-8a50-4384-98c4-a74a16740710', N'jill.t@horizon.ca', 0, N'ACLWoyFC83QHtDyBeqQ5xGFVo1ZpIhGYcCKu5juufoVyNvXRwKJbMkIH7aRYe/DRlQ==', N'6c130526-e2ab-4abf-9ea0-749d6239c1cc', NULL, 0, 0, NULL, 1, 0, N'jill.t@horizon.ca')
SET IDENTITY_INSERT [dbo].[CityAreas] ON 

INSERT [dbo].[CityAreas] ([AreaId], [Name]) VALUES (1, N'North')
INSERT [dbo].[CityAreas] ([AreaId], [Name]) VALUES (2, N'South')
INSERT [dbo].[CityAreas] ([AreaId], [Name]) VALUES (3, N'East')
SET IDENTITY_INSERT [dbo].[CityAreas] OFF
SET IDENTITY_INSERT [dbo].[Countries] ON 

INSERT [dbo].[Countries] ([CountryId], [Name]) VALUES (1, N'Canada')
INSERT [dbo].[Countries] ([CountryId], [Name]) VALUES (2, N'USA')
SET IDENTITY_INSERT [dbo].[Countries] OFF
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [MiddleName], [StreetAddress], [City], [PostalCode], [Phone], [Email], [DOB], [Password], [CustomerProvinceId]) VALUES (2, N'Tim', N'Travolta', NULL, N'1236 Mountain road', N'Moncton', N'E2B0A1', N'(506) 994-4343', N'pelikh.roman@gmail.com', CAST(N'1986-01-02T00:00:00.000' AS DateTime), N'itYws[mO', 1)
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [MiddleName], [StreetAddress], [City], [PostalCode], [Phone], [Email], [DOB], [Password], [CustomerProvinceId]) VALUES (3, N'Sam', N'Smith', NULL, N'34 Mapleton St', N'Moncton', N'E1C0K6', N'(506) 678-8989', N'sam.smith@test.com', CAST(N'1993-09-09T00:00:00.000' AS DateTime), N'P#AC=YmW', 1)
INSERT [dbo].[Customers] ([CustomerId], [FirstName], [LastName], [MiddleName], [StreetAddress], [City], [PostalCode], [Phone], [Email], [DOB], [Password], [CustomerProvinceId]) VALUES (4, N'Amanda', N'Larson', NULL, N'123 West St', N'Victoria', N'E1B0K6', N'(506) 768-8977', N'86sthelen@gmail.com', CAST(N'1990-10-28T00:00:00.000' AS DateTime), N'ABXksx}V', 2)
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [MiddleName], [SIN], [StreetAddress], [City], [PostalCode], [HomePhone], [CellPhone], [OfficePhone], [OfficeEmail], [DOB], [AddedBy], [HireDate], [Password], [EmployeeProvinceId]) VALUES (4, N'Brad', N'Mersy', NULL, N'123-123-123', N'123 Main street', N'Moncton', N'E1C1X1', N'(506) 884-9443', N'(506) 884-9443', N'(506) 884-5555', N'brad.m@horizon.ca', CAST(N'1987-01-01T00:00:00.000' AS DateTime), 1, CAST(N'2015-02-02T00:00:00.000' AS DateTime), N'=Yx7X$BK', 1)
INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [MiddleName], [SIN], [StreetAddress], [City], [PostalCode], [HomePhone], [CellPhone], [OfficePhone], [OfficeEmail], [DOB], [AddedBy], [HireDate], [Password], [EmployeeProvinceId]) VALUES (5, N'Jane', N'Hudson', NULL, N'444-232-323', N'554 West street', N'Winnipeg', N'E2C6B1', N'(506) 998-9983', N'(506) 998-9983', N'(506) 998-4321', N'jane.h@horizon.ca', CAST(N'1965-03-03T00:00:00.000' AS DateTime), 1, CAST(N'2016-04-04T00:00:00.000' AS DateTime), N'#..-$luO', 3)
INSERT [dbo].[Employees] ([EmployeeId], [FirstName], [LastName], [MiddleName], [SIN], [StreetAddress], [City], [PostalCode], [HomePhone], [CellPhone], [OfficePhone], [OfficeEmail], [DOB], [AddedBy], [HireDate], [Password], [EmployeeProvinceId]) VALUES (6, N'Tim', N'Horton', NULL, N'234-556-575', N'1236 Mountain road', N'Mocton', N'E2C0A7', N'(506) 884-3322', N'(506) 884-3322', N'(506) 884-6421', N'tim.h@horizon.ca', CAST(N'1976-05-05T00:00:00.000' AS DateTime), 1, CAST(N'2011-03-03T00:00:00.000' AS DateTime), N'i{K!R6Pw', 1)
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[Features] ON 

INSERT [dbo].[Features] ([Id], [Name]) VALUES (1, N'Water view')
INSERT [dbo].[Features] ([Id], [Name]) VALUES (2, N'Close to schools')
INSERT [dbo].[Features] ([Id], [Name]) VALUES (3, N'Close to park')
SET IDENTITY_INSERT [dbo].[Features] OFF
SET IDENTITY_INSERT [dbo].[ImageFiles] ON 

INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImageDescription], [Path], [AltText], [UploadDate], [Approved], [EmployeeId], [ListingId]) VALUES (3, N'1.jpg', N'photo', N'/Content/Files/1.jpg', N'photo', CAST(N'2019-12-03T00:00:00.000' AS DateTime), 1, 5, 2)
INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImageDescription], [Path], [AltText], [UploadDate], [Approved], [EmployeeId], [ListingId]) VALUES (4, N'2.jpg', N'photo', N'/Content/Files/2.jpg', N'photo', CAST(N'2019-12-03T00:00:00.000' AS DateTime), 1, 5, 2)
INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImageDescription], [Path], [AltText], [UploadDate], [Approved], [EmployeeId], [ListingId]) VALUES (5, N'3.jpg', N'photo', N'/Content/Files/3.jpg', N'photo', CAST(N'2019-12-03T00:00:00.000' AS DateTime), 1, 5, 3)
SET IDENTITY_INSERT [dbo].[ImageFiles] OFF
INSERT [dbo].[ListingFeature] ([ListingId], [FeatureId]) VALUES (2, 1)
INSERT [dbo].[ListingFeature] ([ListingId], [FeatureId]) VALUES (3, 1)
INSERT [dbo].[ListingFeature] ([ListingId], [FeatureId]) VALUES (5, 1)
SET IDENTITY_INSERT [dbo].[Listings] ON 

INSERT [dbo].[Listings] ([ListingId], [StreetAddress], [City], [Province], [Country], [PostalCode], [Area], [Bedrooms], [Bathrooms], [Price], [ContractSigned], [ListingStartDate], [ListingEndDate], [Status], [RenewNotificationSent], [RenewDenialReason], [CustomerId], [EmployeeId], [AreaId]) VALUES (1, N'1236 Mountain road', N'Edmonton', N'Alberta', N'Canada', N'E2C6B1', N'256', 4, 2, CAST(350000.00 AS Decimal(18, 2)), 0, NULL, CAST(N'2020-03-02T00:00:00.000' AS DateTime), N'No contract', 0, NULL, 2, NULL, 1)
INSERT [dbo].[Listings] ([ListingId], [StreetAddress], [City], [Province], [Country], [PostalCode], [Area], [Bedrooms], [Bathrooms], [Price], [ContractSigned], [ListingStartDate], [ListingEndDate], [Status], [RenewNotificationSent], [RenewDenialReason], [CustomerId], [EmployeeId], [AreaId]) VALUES (2, N'4432 Mountain road', N'Edmonton', N'Alberta', N'Canada', N'E1C1X1', N'2500', 4, 4, CAST(500000.00 AS Decimal(18, 2)), 1, CAST(N'2019-12-02T00:00:00.000' AS DateTime), CAST(N'2020-02-02T00:00:00.000' AS DateTime), N'Active', 0, NULL, 2, 4, 1)
INSERT [dbo].[Listings] ([ListingId], [StreetAddress], [City], [Province], [Country], [PostalCode], [Area], [Bedrooms], [Bathrooms], [Price], [ContractSigned], [ListingStartDate], [ListingEndDate], [Status], [RenewNotificationSent], [RenewDenialReason], [CustomerId], [EmployeeId], [AreaId]) VALUES (3, N'78 Mapleton Rd', N'Moncton', N'New Brunswick', N'Canada', N'E1C0K6', N'500', 2, 3, CAST(300000.00 AS Decimal(18, 2)), 1, CAST(N'2019-12-03T00:00:00.000' AS DateTime), CAST(N'2020-03-03T00:00:00.000' AS DateTime), N'Active', 0, NULL, 4, 4, 1)
SET IDENTITY_INSERT [dbo].[Listings] OFF
SET IDENTITY_INSERT [dbo].[ProvinceCustomers] ON 

INSERT [dbo].[ProvinceCustomers] ([Id], [ProvinceId], [CustomerId]) VALUES (2, 1, 2)
INSERT [dbo].[ProvinceCustomers] ([Id], [ProvinceId], [CustomerId]) VALUES (3, 1, 3)
INSERT [dbo].[ProvinceCustomers] ([Id], [ProvinceId], [CustomerId]) VALUES (4, 2, 4)
SET IDENTITY_INSERT [dbo].[ProvinceCustomers] OFF
SET IDENTITY_INSERT [dbo].[ProvinceEmployees] ON 

INSERT [dbo].[ProvinceEmployees] ([Id], [ProvinceId], [EmployeeId]) VALUES (4, 1, 4)
INSERT [dbo].[ProvinceEmployees] ([Id], [ProvinceId], [EmployeeId]) VALUES (5, 3, 5)
INSERT [dbo].[ProvinceEmployees] ([Id], [ProvinceId], [EmployeeId]) VALUES (6, 1, 6)
SET IDENTITY_INSERT [dbo].[ProvinceEmployees] OFF
SET IDENTITY_INSERT [dbo].[Provinces] ON 

INSERT [dbo].[Provinces] ([ProvinceId], [Name], [CountryId]) VALUES (1, N'Alberta', 1)
INSERT [dbo].[Provinces] ([ProvinceId], [Name], [CountryId]) VALUES (2, N'British Columbia', 1)
INSERT [dbo].[Provinces] ([ProvinceId], [Name], [CountryId]) VALUES (3, N'Manitoba', 1)
SET IDENTITY_INSERT [dbo].[Provinces] OFF
/****** Object:  Index [IX_CustomerId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[Appointments]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[Appointments]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[ImageFiles]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingId] ON [dbo].[ImageFiles]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FeatureId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_FeatureId] ON [dbo].[ListingFeature]
(
	[FeatureId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ListingId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ListingId] ON [dbo].[ListingFeature]
(
	[ListingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AreaId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_AreaId] ON [dbo].[Listings]
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[Listings]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[Listings]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerId] ON [dbo].[ProvinceCustomers]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProvinceId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProvinceId] ON [dbo].[ProvinceCustomers]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_EmployeeId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_EmployeeId] ON [dbo].[ProvinceEmployees]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProvinceId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProvinceId] ON [dbo].[ProvinceEmployees]
(
	[ProvinceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CountryId]    Script Date: 2019-12-03 8:25:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_CountryId] ON [dbo].[Provinces]
(
	[CountryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Appointments_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_dbo.Appointments_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Appointments_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_dbo.Appointments_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[ImageFiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImageFiles_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ImageFiles] CHECK CONSTRAINT [FK_dbo.ImageFiles_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[ImageFiles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ImageFiles_dbo.Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([ListingId])
GO
ALTER TABLE [dbo].[ImageFiles] CHECK CONSTRAINT [FK_dbo.ImageFiles_dbo.Listings_ListingId]
GO
ALTER TABLE [dbo].[ListingFeature]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingFeature_dbo.Features_FeatureId] FOREIGN KEY([FeatureId])
REFERENCES [dbo].[Features] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingFeature] CHECK CONSTRAINT [FK_dbo.ListingFeature_dbo.Features_FeatureId]
GO
ALTER TABLE [dbo].[ListingFeature]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ListingFeature_dbo.Listings_ListingId] FOREIGN KEY([ListingId])
REFERENCES [dbo].[Listings] ([ListingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ListingFeature] CHECK CONSTRAINT [FK_dbo.ListingFeature_dbo.Listings_ListingId]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Listings_dbo.CityAreas_AreaId] FOREIGN KEY([AreaId])
REFERENCES [dbo].[CityAreas] ([AreaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_dbo.Listings_dbo.CityAreas_AreaId]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Listings_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_dbo.Listings_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Listings_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_dbo.Listings_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[ProvinceCustomers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProvinceCustomers_dbo.Customers_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([CustomerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProvinceCustomers] CHECK CONSTRAINT [FK_dbo.ProvinceCustomers_dbo.Customers_CustomerId]
GO
ALTER TABLE [dbo].[ProvinceCustomers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProvinceCustomers_dbo.Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([ProvinceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProvinceCustomers] CHECK CONSTRAINT [FK_dbo.ProvinceCustomers_dbo.Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[ProvinceEmployees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProvinceEmployees_dbo.Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProvinceEmployees] CHECK CONSTRAINT [FK_dbo.ProvinceEmployees_dbo.Employees_EmployeeId]
GO
ALTER TABLE [dbo].[ProvinceEmployees]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProvinceEmployees_dbo.Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([ProvinceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProvinceEmployees] CHECK CONSTRAINT [FK_dbo.ProvinceEmployees_dbo.Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[Provinces]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Provinces_dbo.Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([CountryId])
GO
ALTER TABLE [dbo].[Provinces] CHECK CONSTRAINT [FK_dbo.Provinces_dbo.Countries_CountryId]
GO
USE [master]
GO
